<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>State:</b>
  <%= @city.state_id %>
</p>

<p>
  <b>City status:</b>
  <%= @city.city_status %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
